{extend name="common/base" /}
{block name="main"}
<form id="role_form" action="/admin/role/set" method="post">
    {if condition="$id!=null"}
    <input type="hidden" name="id" value="{$data.id}">
    {/if}
    <div class="form-group">
        <label for="title">角色名称</label>
        <input value="{$data.title|default=''}" type="text" class="form-control" id="title" name="title"
               placeholder="请输入角色名称">
        {if condition="isset($message['title'])"}
        <label style="color: red;">{$message['title']}</label>
        {/if}
    </div>
    <div class="form-group">
        <label for="title">是否超管</label>
        <label class="radio-inline">
            <input type="radio" name="is_super" id="is_super_no" value="0" checked> 否
        </label>
        <label class="radio-inline">
            <input type="radio" name="is_super" id="is_super_yes" value="1"> 是
        </label>
    </div>
    <button type="submit" class="btn btn-default">马上发表</button>
</form>

{/block}
{block name="appendJS"}
<!--客户端验证需要的引入文件-->
<script src="__STATIC__/validate/dist/jquery.validate.js"></script>
<script src="__STATIC__/validate/dist/additional-methods.min.js"></script>
<script src="__STATIC__/validate/dist/localization/messages_zh.js"></script>
<script>
    $(function () {
        //客户端验证
        $('#role_form').validate({
            //定义规则
            rules:{
                title:{
                    required:true,
                    maxlength:10
                }
            },
            //自定义错误提示信息
            messages:{
                title:{
                    required:'角色名称不能为空',
                    maxlength:'角色名称不能超过10个字符'
                }
            }
        });
    })
</script>
{/block}


